<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->

  <div class="" (click)="deleteTicket()">
    <i class="fas fa-calendar-times"></i>
  </div>
  
  <h3>Titre : {{ticket.title}}</h3>

  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}

  <ng-container *ngIf="ticket.major === 'SI'">
    <i class="fas fa-laptop-code"></i> {{ticket.major}}
  </ng-container>
  <ng-container *ngIf="ticket.major === 'GE'">
    <i class="fas fa-globe-europe"></i> {{ticket.major}}
  </ng-container>
  
  
</div>
