@import '../../../styles/card.scss';

.ticket {
  width: 100%;
  background: #cecece;
}

.ticket-controls button{
  cursor:pointer;
}

.arc-true {
  background-color: greenyellow;
}

.arc-false {
  background-color: red;
}
