<div class="card ticket" (click)="onSelectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  
  <h3>Titre : {{ticket.title}}</h3>

  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}

  <ng-container *ngIf="ticket.major === 'SI'">
    <i class="fas fa-laptop-code"></i> {{ticket.major}}
  </ng-container>
  <ng-container *ngIf="ticket.major === 'GE'">
    <i class="fas fa-globe-europe"></i> {{ticket.major}}
  </ng-container>

  <div class="ticket-controls">
    <button  id="arc-btn" type="button" name="arc-btn" (click)="archiveTicket()">Archive</button> {{ticket.archived}} &nbsp;&nbsp;&nbsp;&nbsp;
    <button  id="del-btn" type="button" name="del-btn" (click)="onDeleteTicket()">Delete</button>
  </div>
  
  
</div>
