// You can apply style directly to a component
app-ticket {
  margin: 0.2em;
}

.ticket {
  width: 40%;
}

.ticket-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-custom {
  cursor: pointer;
  width: 200%;
  height: 40px;
  margin-top: 12px;background-color: aliceblue;
}
